:root {
  --blackPearl: #1e272e;
  --orangeHibiscus: #fa8231;
  --textLink: var(--orangeHibiscus);
  --brandColor: var(--orangeHibiscus);
  --textColor: var(--blackPearl);
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
}

@media all and (max-width: 600px) {
  body {
    font-size: 18px;
  }
}

a {
  cursor: pointer;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container > .nav-box.nav-link {
  display: inline;
}

.nav-container > .nav-box.brand {
  flex-basis: 70%;
}

@media all and (max-width: 600px) {
  .nav-container > .nav-box.brand {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .nav-container > .nav-box.brand {
    flex-basis: 50%;
  }
}

.blog-article {
  padding: 0 2rem;
  border: 2px solid var(--brandColor);
  margin: 1rem 0;
  border-radius: 3px;
}
